body {
  background-color: black;
}
p {
  font-family: 'Montserrat', sans-serif;
  color:#fff9;
}
span, a {
  color:#fffd;
}
.click, a {
  text-decoration: underline;
}
#element {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #2eb2ff;
  width:10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: 0 0 10px #fff;
  z-index: 1;
}

.comment {
  color:#fff8;
  text-decoration: none;
}
